<div>
    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
      <label for="name">Nombre:</label>
      <input id="name" formControlName="name" type="text">
      
      <label for="lastname">Apellido:</label>
      <input id="lastname" formControlName="lastname" type="text">
      
      <button type="submit">Guardar</button>
    </form>
  </div>
  
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let d of clients">
        <td>{{ d.id }}</td>
        <td>{{ d.name }}</td>
        <td>{{ d.lastname }}</td>
        <td>
          <button (click)="editClient(d)">Editar</button>
          <button (click)="deleteClient(d.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
